.stColumn.st-emotion-cache-1ltw95s.e6rk8up2{
    padding: 30px;
    color: rgb(255, 255, 255);
    background-color: rgba(20, 17, 17, 0.087);
    border-radius: 45px;
    text-align: center;
    font-size: 16px;
    border-color: rgba(255, 254, 254, 0.339);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
}

.stColumn.st-emotion-cache-1hc7a2v.e6rk8up2{
    padding: 30px;
    color: rgb(255, 255, 255);
    background-color: rgba(55, 55, 55, 0.14);
    border-radius: 45px;
    text-align: center;
    font-size: 16px;
    border-color: rgba(255, 254, 254, 0.339);;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
}

.stColumn.st-emotion-cache-10id9.e6rk8up2{
    border-color: rgba(255, 254, 254, 0);
}


.stColumn.st-emotion-cache-1txarhv.e6rk8up2{
    padding: 20px;
    background-color: rgba(55, 55, 55, 0.14);
    border-radius: 45px;
    font-size: 20px;
    border-color: rgba(255, 254, 254, 0.339);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
}

.stColumn.st-emotion-cache-16hapzn.e6rk8up2{
    padding: 22px;
    background-color: rgba(55, 55, 55, 0.14);
    border-radius: 45px;
    border-color: rgba(255, 254, 254, 0.339);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
}

.st-emotion-cache-qcpnpn.e6rk8up5{
    padding: 30px;
    background-color: rgba(55, 55, 55, 0.14);
    border-radius: 45px;
    border-color: rgba(255, 254, 254, 0.339);
    color: rgb(255, 255, 255);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

.stColumn.st-emotion-cache-aypx3x.e6rk8up2{
    padding: 22px;
    background-color: rgba(55, 55, 55, 0.14);
    border-radius: 45px;
    border-color: rgba(255, 254, 254, 0.339);
    color: rgb(255, 250, 250);
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
}

.st-emotion-cache-1cvow4s.egexzqm0{
    font-size: 18px;
}

.st-emotion-cache-1cvow4s.egexzqm0 .title{
    font-size: 50px;
    text-indent: 90px;
    padding: 0px 10px 25px;
}

.st-emotion-cache-1cvow4.egexzqm0{
    font-size: 21px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
}

.st-emotion-cache-ropwps.egexzqm2{
    font-size: 18px;
    text-align: left;
}

.st-emotion-cache-b0y9n5.e1d5ycv52{
    background-color: rgba(55, 55, 55, 0.16);
    color: rgb(255, 255, 255);
    font-size: 22px;
    border-color: rgba(255, 254, 254, 0.339);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
}

.st-emotion-cache-14553y9.egexzqm0{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.st-emotion-cache-ah6jdd.etvjjhi0{
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 18.5px;
}

.st-emotion-cache-gi0tri.egexzqm3{
    display: none;
}

.st-an.st-ao.st-ap.st-aq.st-ak.st-ar.st-am.st-as.st-at.st-au.st-av.st-aw.st-ax.st-ay.st-az.st-b0.st-b1.st-b2.st-b3.st-b4.st-b5.st-b6.st-b7.st-b8.st-b9.st-ba.st-bb.st-bc{
    border-color: rgba(255, 254, 254, 0.339);
    color: rgb(255, 255, 255);
}

.st-ak.st-as.st-ar.st-am.st-av.st-aw.st-ax.st-ay.st-az.st-b0.st-b1.st-b2.st-co.st-b4.st-b5.st-an.st-ao.st-ap.st-aq.st-ae.st-af.st-ag.st-cp.st-ai.st-aj.st-b7.st-b8.st-b9.st-ba.st-bb.st-cq.st-cr.st-bc{
    border-color: rgba(255, 254, 254, 0.339);
    color: rgb(255, 255, 255);
}