
.title{
    font-size: 50px;
    text-indent: 90px;
    padding: 0px 10px 25px;
}

.title_ai{
    font-size: 33px;
    text-align: left;
    padding: 0px 10px 10px;
}

.temperatures_for_the_day{
    font-size: 25px;
    text-align: left;
    padding: 5px 10px 20px;
}

[class^="forecast_"]{
    font-size: 45px;
    justify-content: center;
    text-align: center;
    padding: 0px 0px 17px 0px; 
}

[data-testid="stSelectbox"] > div{
    border: 1px solid rgba(255, 254, 254, 0.647);
    border-radius: 10px;
}

[data-testid="stTextInput"] > div{
    border: 1px solid rgba(255, 254, 254, 0.647);
    border-radius: 10px;
}

[data-testid="stColumn"]:is(
    :has([data-testid="stMarkdownContainer"] .col_hide_1),
    :has([data-testid="stMarkdownContainer"] .col_hide_2),
    :has([data-testid="stMarkdownContainer"] .col_hide_3),
) {
    border-color: rgba(255, 254, 254, 0);
    background-color: rgba(55, 55, 55, 0);
}

[data-testid="stColumn"]:is(
    :has([data-testid="stMarkdownContainer"] .temperatures_for_the_day),
    :has([data-testid="stMarkdownContainer"] .col_data),
    :has([data-testid="stMarkdownContainer"] .col_air_q),
    :has([data-testid="stMarkdownContainer"] .select_city),
    :has([data-testid="stMarkdownContainer"] .col_min_max_temp),
    :has([data-testid="stMarkdownContainer"] .col_humidity),
    :has([data-testid="stMarkdownContainer"] .col_wind_speed),
    :has([data-testid="stMarkdownContainer"] .col_feels_like),
    :has([data-testid="stMarkdownContainer"] .col_cloud_coverage),
    :has([data-testid="stMarkdownContainer"] .col_pressure),
    :has([data-testid="stMarkdownContainer"] .col4),
    :has([data-testid="stMarkdownContainer"] .so2_col),
    :has([data-testid="stMarkdownContainer"] .no2_col),
    :has([data-testid="stMarkdownContainer"] .o3_col),
    :has([data-testid="stMarkdownContainer"] .co_col),
    :has([data-testid="stMarkdownContainer"] .pm10_col),
    :has([data-testid="stMarkdownContainer"] .pm25_col),
    :has([data-testid="stMarkdownContainer"] .aqi_col),
    :has([data-testid="stMarkdownContainer"] [class^="forecast_"]),
) {
    padding: 27px;
    background-color: rgba(55, 55, 55, 0.14);
    border-radius: 45px;
    border: 1px solid rgba(255, 254, 254, 0.647);
    color: rgb(255, 255, 255);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(25px);
    text-align: center
}

[data-testid="stMarkdownContainer"] {
    font-size:19px; 
}